.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-background {
    width: 100%;
    height: 100vh;
    background-image: url('../img/main-background2.jpg');
    background-size: cover;
    position: absolute;
}

#cover-effect {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: relative;
    z-index: 10;
    background-color: var(--main-mustard);
    opacity: 20%;
}

#home-header {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0px;
    background-color: black;
    opacity: 60%;
    position: fixed;
    z-index: 50;
}

ul {
    display: inline;
    padding: 60px;
}

li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.nav-a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.nav-a:hover {
    color: var(--main-mustard);
    text-decoration: none;
}

.nav-a.active {
    color: red;
}

#central-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 20;
}

#profile-card {
    flex-direction: column;
    position: fixed;
    padding: 50px 20px;
    border-radius: 20px;
}

/*
#profile-card:hover {
    border: solid 2px var(--main-mustard);
}*/

#profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
}

#profile-formation-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(19, 25, 4);
    line-height: 50%;
    padding-top: 15px;
}

#profile-name {
    font-weight: 900;
}

#container-middle-sections {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    text-justify: auto;
    font-weight: 200;
    font-size: 20px;
}

#allcontent {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#about-section {
    display: flex;
    flex-direction: row;  
    padding: 0px 20px;
    width: 80%;
    /*margin: 0px 200px;*/
    padding: 60px 0px;
}

#about-column-1 {
    min-width: 350px;
    height: 400px;
    width: 400px;
    overflow: hidden;
}

@media (max-width: 780px) {
    #about-section {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 100%; 
        padding: 60px 20px;
  }
  #about-column-1 { 
    margin-bottom: 10px;
  }
}

#about-column-2 {
    min-width: 300px;
    padding: 0px 20px;
}

#about-title h2 {
    font-weight: 400;
    color: var(--main-blue);
    font-size: 30px;
}



#about-image {
    min-width: 200px;
    width: fit-content;
    height: auto;
}

#galery-section {
    width: 80%;
    /*margin: 20px 200px;*/
}

#galery-title h2 {
    font-weight: 400;
    color: var(--main-blue);
    font-size: 30px;
}

.carousel-pics {
    width: 100%;
    border: 5px solid gainsboro;
    padding: 15px;
}

footer {
    height: 100px;
    background-color: var(--main-blue);
}