



@media (max-width: 780px) {
    #chocolate-menu {
        display: display;
    }
    #nav-bar {
        display: none;
    }
}

@media (min-width: 780px) {
    #chocolate-menu {
        display: none;
    }
    #nav-bar {
        display: display;
    }
}