
body {
    width: 100%;
}

.w-100 {
    width: 99%;
}


.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

#home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: black;
    opacity: 60%;

}

ul {
    display: inline;
    padding: 0px 60px;
}

li {
    list-style-type: none;
    display: inline;
    padding: 0px 10px;
}

.nav-a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.nav-a:hover {
    color: var(--main-mustard);
    text-decoration: none;
}

.nav-a.active {
    color: red;
}


#main-section {
    
    width: 100%;
    z-index: -40;
}

#main-background {
    width: 100%;
    height: 100vh;
    background-image: url('../img/main-background2.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -30;
}

#cover-effect {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: var(--main-mustard);
    opacity: 20%;
    z-index: -20;
}

#profile-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -10;
}
#profile-card {
    flex-direction: column;
    position: fixed;
    z-index: 10;
    /*padding: 50px 20px;
    border-radius: 20px;*/
}

#profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
}

#profile-formation-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(19, 25, 4);
    line-height: 50%;
    padding-top: 15px;
}

#profile-name {
    font-weight: 900;
}



/*
#container-middle-sections {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    text-justify: auto;
    font-weight: 200;
    font-size: 20px;
}*/

#container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 5%;
}

#strategicBases-wrapper {
    background-color: var(--main-mustard);
}

/*#about-section, #strategicBases-section {*/
.columns-section-model {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 24px;
}

#about-column-1, #strategicBases-column-2 {
    min-width: 350px;
    height: 400px;
    width: 40%;
    overflow: hidden;
}

@media (max-width: 780px) {
    #nav-bar ul {
        padding: 0px 10px;
        font-size: 12px;
    }
    #about-section, #strategicBases-section {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 100%; 
    }
    .section-wrapper {
        width: 100%;
        padding: 50px 20px 0px 20px;
    }
    #about-column-1, #strategicBases-column-2 { 
        margin-bottom: 10px;
    }
    #strategicBases-column-2 {
        margin-bottom: 50px;;
    }
}

#about-column-2, #strategicBases-column-1 {
    min-width: 300px;
    padding: 0px 20px;
}

#about-title-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#about-title-2 {
    margin-top: 10px;
}

.title-h2 {
    font-weight: 400;
    color: var(--main-blue);
    font-size: 30px;
    justify-self: baseline;
}

.title-h3 {
    font-weight: 400;
    color: var(--main-blue);
    font-size: 25px;
    margin-bottom: 10px;
}

#about-text-1, #about-text-2 {
    padding-left: 20px;
    justify-content: left;
    text-justify: auto;
}

#about-image {
    min-width: 200px;
    width: fit-content;
    height: auto;
}

#galery-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 60px 5%;
    font-size: 24px;

    min-width: 350px;
    height: 400px;
    width: 60%;
    overflow: hidden;
    margin-bottom: 60px;
}

#galery-section img {
    height: 400px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width:100%;
    height: 100px;
    background-color: var(--main-mustard);
}

.social-network-icons {
    height: 30px;
    width: 30px;
    margin: 10px;
    filter: grayscale(100%)
}

.topic-mark {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}